백준 2438 - 별 찍기 1

In [1]:
n = int(input())

st = ''
for i in range(1,n+1) :
  st='*'*i
  print(st)

5
*
**
***
****
*****

백준 2439 - 별 찍기 2

In [2]:
n = int(input())

st=''
for i in range(1,n+1) :
  s='*'*i
  b=''
  for j in range(n-i) :
    b += ' '
  print(b,s,sep='')

5
    *
   **
  ***
 ****
*****

백준 1259 - 팰린드롬수

In [5]:
while True :
  #입력받는 정수
  a = int(input())

  #리스트를 만듦
  lists = []

  if a == 0 :
    break 
  else :
    # 팰린드롬수인지 아닌지 판단 >> 나머지 연산 이용
    counts = 0
    while a != 0 :
      b = a % 10        # 맨 끝자리 수가 나온다
      lists.append(b)   # 리스트 안에 방금 구한 끝자리 수를 넣는다
      a = a // 10       # a를 10으로 나눈 몫을 구해준다
      counts += 1
    # print(lists)
    
    sw = 0
    for i in range(0, int(counts/2), 1) :
      if lists[i] != lists[counts-1-i] :
        sw = 1
        print('no')
        break

    if sw == 0 :
      print('yes')

123
no
12321
yes
0

백준 10988 - 팰린드롬 확인하기

In [7]:
#len() 이용

a = input()

sizes = int(len(a)/2)

sw = 0
for i in range(0,sizes,1) :
  if a[i] != a[len(a)-1-i] :
    print(0)
    sw = 1
    break

if sw == 0 :
  print(1)

level
1

#함수 알아보기

In [9]:
# def : 함수 선언
def solve(lists) :     #lists : 매개 변수
  sum = 0
  for i in lists :     #lists 안에 있는 수들의 합
    sum+=i
  
  return sum  #함수를 통해 구한 값을 리턴함

In [12]:
#함수 사용(호출)

lists = [1,2,3,4,5,6]
solve(lists)    #solve 함수 사용. 함수를 사용할 때는 안에 인자를 넣을 수도 있다.

21

In [13]:
#이중 리스트

lists = [[1,2,3,4,5,6],[1,2]]

for i in lists :
  print(solve(i))

21
3

In [17]:
A = int(input())
B = int(input())
C = int(input())

x = A*B*C

lists = [0,0,0,0,0,0,0,0,0,0]
# 맨 처음 자리는 lists[0]
# 맨 마지막 자리는 lists[9]

x_str = str(x)  #정수 c를 문자열로 바꿈

for i in range(0, len(x_str), 1) :
  e = int(x_str[i])
  lists[e] += 1

# print(lists)
for i in lists :
  print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0